.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .input-wrapper {
    display: flex;
    gap: 10px;
  }
  
  .input {
    width: 200px;
    height: 35px;
  }
  
  .button {
    background-color: rgb(121, 188, 255);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media screen and (min-width: 768px) {
    .form {
      flex-direction: row;
    }
  
    .input {
      width: 150px;
    }
  }
  